/* theme overrides test */

#header_wrap, #footer_wrap {
  background: #FF91AF;
}

#project_title, #project_tagline {
  text-shadow: none;
}

#forkme_banner {
  box-shadow: none;
}

#main_content_wrap {
  border: none;
}

#main_content {
  background: #fff;
}
#main_content img {
  width: 100%;
}
#main_content blockquote img {
  width: initial;
}

